@import url(common/reset.module.scss);

/* FONT ADD */

@import url(../fonts/GothamPro/GothamPro.css);
/*@font-face {*/
/*    font-family: 'Gotham Pro';*/
/*    src: url('../fonts/GothamPro-Medium.eot');*/
/*    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),*/
/*        url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/GothamPro-Medium.woff') format('woff'),*/
/*        url('../fonts/GothamPro-Medium.ttf') format('truetype');*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Gotham Pro';*/
/*    src: url('../fonts/GothamPro-Bold.eot');*/
/*    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),*/
/*        url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/GothamPro-Bold.woff') format('woff'),*/
/*        url('../fonts/GothamPro-Bold.ttf') format('truetype');*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Gotham Pro';*/
/*    src: url('../fonts/GothamPro-Light.eot');*/
/*    src: local('Gotham Pro Light'), local('GothamPro-Light'),*/
/*        url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/GothamPro-Light.woff') format('woff'),*/
/*        url('../fonts/GothamPro-Light.ttf') format('truetype');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Gotham Pro';*/
/*    src: url('../fonts/GothamPro-Black.eot');*/
/*    src: local('Gotham Pro Black'), local('GothamPro-Black'),*/
/*        url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/GothamPro-Black.woff') format('woff'),*/
/*        url('../fonts/GothamPro-Black.ttf') format('truetype');*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Gotham Pro';*/
/*    src: url('../fonts/GothamPro.eot');*/
/*    src: local('Gotham Pro'), local('GothamPro'),*/
/*        url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),*/
/*        url('../fonts/GothamPro.woff') format('woff'),*/
/*        url('../fonts/GothamPro.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
/* FONT ADD */

/* MAIN STYLES */

p,
a,
b,
span,
h1,
h2,
h3,
h4,
h5,
h6,
select,
input,
textarea,
button,
label,
div {
  font-family: 'Gotham Pro', sans-serif;
}

body {
  color: #fff;
  background: #1e1e1e;
}

.mainStyle {
  b {
    font-weight: 600;
  }

  color: #757575;
  font-size: 16px;
  line-height: 28px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a,
  span,
  div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }

  h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 14px 0 32px 0;
  }

  h2 {
    margin: 0.5em 0;
    font-size: 42px;
    line-height: 1.1em;
    font-weight: 400;

    a {
      margin: 0.5em 0;
      font-size: 42px;
      line-height: 1.1em;
      font-weight: 400;
    }
  }

  h3 {
    font-size: 36px;
    line-height: 1.3em;
    font-weight: 400;
  }

  h4 {
    margin: 0.5em 0;
    font-size: 30px;
    line-height: 1.3em;
    font-weight: 400;
  }

  p,
  li,
  span {
    font-size: 18px;
    font-weight: 400;
  }

  p {
    line-height: 25px;
    color: #757575;

    /*text-indent: 20px;*/
  }

  ol {
    counter-reset: item !important;
    padding-left: 0;
  }

  ul li::after {
    //content: url('images/check-square.png');
    width: 12px;
    position: absolute;
    height: 12px;
    left: 0;
    top: 0px;
    display: block;
    border-radius: 50%;
    font-size: 12px;
  }

  ol li::before {
    content: counter(item, decimal-leading-zero) ' ';
    counter-increment: item;
    color: #757575;
    position: absolute;
    left: 0;
    top: 0px;
    height: 0;
    width: 0;
    top: 0px;
    background: none;
    font-weight: 600;
  }

  .fl-box {
    li::before {
      left: 0px;
    }

    ol li {
      padding-left: 30px;
      display: flex;
    }

    ul li {
      display: flex;
    }
  }

  ul li {
    position: relative;
    line-height: 24px;
    padding-left: 20px;
    font-size: 18px;
  }

  ol li {
    position: relative;
    line-height: 24px;
    padding-left: 20px;
    font-size: 18px;
    padding-left: 30px;

    span {
      font-size: 16px;
      line-height: 24px;
    }
  }

  ul li span {
    font-size: 16px;
    line-height: 24px;
  }

  ol li p {
    text-indent: 0px;
    margin-bottom: 0;
  }

  ul {
    li p {
      text-indent: 0px;
      margin-bottom: 0;
    }

    margin-top: 15px;
    margin-bottom: 15px;
  }

  ol {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .fl-box {
    ul,
    ol {
      padding-left: 0px;
    }
  }

  ul li:not(:last-child),
  ol li:not(:last-child) {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
}

.edit-link a:hover {
  text-decoration: none;
}

.mainStyle {
  figure {
    text-align: center;
  }

  figcaption {
    display: inline-block;
  }

  .figcaption {
    width: 100%;
    font-size: 12px;
    padding: 0 20px;
  }

  figcaption {
    font-size: 12px;
    padding: 0 20px;
  }

  .dfc-img {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

    figcaption {
      width: 100%;
    }

    p {
      width: 438px;
      display: flex;
      height: 270px;
      margin: 8px 8px;
    }

    a {
      height: 100%;
      width: 100%;
    }

    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }
}

.b-figcaption-a {
  position: relative;
  display: inline-block;

  p {
    margin: 0;
  }
}

.mainStyle .b-figcaption-a {
  figcaption {
    text-indent: 0;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000000a1;
    color: #ffffff;
  }

  p {
    margin: 0;
  }
}

.b-ptb {
  padding: 30px 0px;
}

.b-pt {
  padding: 30px 0px 0px 0px;
}

.b-pb {
  padding: 0px 0px 30px 0px;
}

.mainStyle {
  .tar {
    text-align: right;
  }

  .tal {
    text-align: left;
  }

  .tac {
    text-align: center;
    text-indent: 0px;
  }

  .fr {
    text-indent: 0px;
    float: right;
    margin: 10px 0px 0px 15px;
  }

  .fl {
    text-indent: 0px;
    float: left;
    margin: 6px 15px 6px 0px;
  }

  .b-img {
    text-indent: 0px !important;

    img {
      width: auto;
      height: 180px;
    }
  }

  .w100 {
    width: 100% !important;
  }

  li {
    display: block;
  }

  .bold {
    font-weight: bold;
  }

  .important {
    text-indent: 0;
    border-radius: 11px;
    padding: 35px 35px 35px 90px;
    border: 1px solid #d1eafe;
    background: #f2f7f9;
    position: relative;
    display: block;
  }

  .fl-box .important {
    display: flow-root;
  }

  .important::before {
    position: absolute;
    content: '';
    top: 55px;
    left: 0;
    width: 90px;
    height: 100%;
    //background-image: url(/images/icons/information.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 35px;
  }
}

@media (max-width: 991px) {
  .mainStyle {
    .fl,
    .fr {
      margin: 10px;
    }

    .fl,
    .fr {
      float: none;
    }

    .b-img {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
    }
  }
}

/* MAIN STYLES END */
