@use '../../assets/css/common/vars.module.scss';

.PRIMARY {
  // background: var(--btnPrimaryBg);
  color: var(--btnPrimaryColor);
  font-size: 18px;
  min-height: 60px;
  padding: 10px 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: linear-gradient(126deg, var(--btnPrimaryBg) 50%, var(--btnPrimaryBgG) 100%);
  border: none;
  background-size: 200% auto;
  transition: 0.3s;

  &:not(.disabled):hover,
  &:not(.disabled):active {
    color: var(--btnPrimaryColorHover);
    background-position: 100%;
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.btn.minWidtn {
  min-width: 300px;

  @media (max-width: 768px) {
    min-width: auto;
  }
}

.SECONDARY {
  background: var(--btnSecondaryBg);
  color: var(--btnSecondaryColor);
  font-size: 18px;
  min-height: 60px;
  padding: 10px 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: none;

  &:not(.disabled):hover,
  &:not(.disabled):active {
    color: var(--btnSecondaryColorHover);
    background: var(--btnSecondaryBgHover);
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.LINK {
  background: transparent;
  display: block;
  min-height: fit-content;
  min-width: fit-content;
  padding: 0;
  color: var(--dataColorAccent);
  font-size: 18px;
  border: none;

  &:not(.disabled):hover,
  &:not(.disabled):active {
    text-decoration: underline;
    background: transparent;
  }

  &.disabled {
    opacity: 0.5;
  }
}
