body {
  background-color: #fff;
  overflow: auto;
}
#GameWrapper {
  color: #7290b7;
  padding: 0.2rem;
  display: flex;
}
#GameWrapper p,
#GameWrapper li {
  font-size: 0.16rem;
  line-height: 0.25rem;
}
.block {
  border-radius: 0.2rem;
  overflow: hidden;
}
.block * {
  box-sizing: border-box;
}
.block .table-top-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #7290b7;
  background: #111328;
  min-height: 0.48rem;
  padding: 0.1rem 0.15rem;
}
.block .table-top-header.table-items-left {
  justify-content: flex-start;
}
.block .table-top-header .table-top-header-title {
  text-align: center;
  font-size: 0.18rem;
}
.block .table {
  width: 100%;
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
.block .table .thead .thead-table-tr {
  position: sticky;
  top: 0;
}
.block .table .thead .thead-table-tr .thead-table-th {
  background: #181c3a;
  text-align: center;
  font-weight: normal;
  color: #526783;
  padding: 0.15rem;
  font-size: 0.16rem;
  text-transform: uppercase;
}
.block .table .thead .thead-table-tr .thead-table-th:before {
  content: '';
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 1px solid #1e2b3c;
}
.block .table .tbody {
  transition: 0.3s;
  overflow: auto;
}
.block .table .tbody .tbody-table-tr {
  transition: 0.3s;
  height: 0.5rem;
  border-bottom: 1px solid #1e2b3c;
}
.block .table .tbody .tbody-table-tr .tbody-table-td {
  transition: 0.3s;
  text-align: center;
  padding: 0 0.15rem;
  font-size: 0.14rem;
}
.blockGameFirstColumn,
.block#GameSecondColumn {
  height: calc(100vh - 0.4rem);
  max-height: 10.2rem;
}
.block#GameFirstColumn {
  width: 30%;
  padding: 0 0.2rem 0 0;
}
.block#GameFirstColumn #Players {
  height: 100%;
}
.block#GameFirstColumn #Players #moreWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}
.block#GameFirstColumn #Players #moreWrapper #btnShowMoreMembers,
.block#GameFirstColumn #Players #moreWrapper #btnHideMembers {
  visibility: hidden;
  opacity: 0;
}
.block#GameFirstColumn #Players #moreWrapper #btnShowMoreMembers.show,
.block#GameFirstColumn #Players #moreWrapper #btnHideMembers.show {
  opacity: 1;
  visibility: visible;
}
.block#GameFirstColumn #Players #moreWrapper .btn {
  min-width: 50%;
}
.block#GameFirstColumn #Players #PlayersTop {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #111328;
  padding: 0.15rem;
}
.block#GameFirstColumn #Players #PlayersTop .PlayersTopText,
.block#GameFirstColumn #Players #PlayersTop .PlayersTopValue {
  text-align: center;
  padding: 0 0.15rem;
  font-size: 0.18rem;
}
.block#GameFirstColumn #Players #PlayersTop .PlayersTopValue {
  padding-top: 0.07rem;
  font-weight: bold;
}
.block#GameFirstColumn #Players #PlayersMiddle {
  height: calc(90% - 0.8rem);
  overflow: auto;
}
.block#GameFirstColumn #Players #PlayersMiddle .tbody .tbody-table-tr.WIN .tbody-table-td {
  color: #8fc92c;
}
.block#GameFirstColumn #Players #PlayersMiddle .tbody .tbody-table-tr.LOST .tbody-table-td {
  color: #fc0a55;
}
.block#GameFirstColumn #Players #PlayersBottom {
  height: 10%;
}
.block#GameSecondColumn {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.block#Players {
  width: 100%;
  height: 12rem;
  background-color: #181c3a;
}
.block#GameSpace {
  width: 100%;
  height: 5.6rem;
  background-color: #181c3a;
  margin-bottom: 0.2rem;
  position: relative;
}
.block#GameSpace #GameSpacePanel {
  z-index: 6;
  position: absolute;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
}
.block#GameSpace #GameSpacePanel.active {
  visibility: visible;
  width: 100%;
  height: 100%;
  background: #181c3a;
  opacity: 0.9;
}
.block#GameSpace #GameSpacePanel.active .gameSpacePanelMessage {
  visibility: visible;
  opacity: 1;
}
.block#GameSpace #GameSpacePanel .gameSpacePanelMessage {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  color: inherit;
  font-size: 0.26rem;
  visibility: hidden;
  opacity: 0;
}
.block#GameSpace #CrashGame {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 1.375em;
  overflow: hidden;
}
.block#GameSpace .crashGameSvg {
  z-index: 2;
}
.block#GameSpace .crashGameSvg .crashGameGrid {
  stroke: #fff;
  stroke-opacity: 0.1;
  stroke-dasharray: 2;
}
.block#GameSpace .crashGameSvg .CrashGameCircle {
  text-anchor: middle;
  fill: #526783;
}
.block#GameSpace .crashGameSvg #line {
  stroke-width: 6;
  stroke: url(#grad);
  stroke-linejoin: round;
  -webkit-filter: blur(0.1);
  filter: blur(0.1);
  fill: none;
}
.block#GameSpace .crashGameWrap,
.block#GameSpace .crashGameSvg {
  width: 12rem;
  height: 4.8rem;
}
.block#GameSpace .crashGameWrap {
  z-index: 6;
  position: absolute;
}
.block#GameSpace .crashGameWrap #crashGameСoef {
  position: absolute;
  right: 1.21rem;
  bottom: 1.57rem;
  font-size: 0.7rem;
  color: #fff;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
}
.block#GameSpace .crashGameWrap #crashGameСoef.active {
  visibility: visible;
  opacity: 1;
}
.block#GameSpace .crashGameWrap #crashGameTimer {
  position: absolute;
  right: -0.8rem;
  bottom: -0.2rem;
  width: 4.3rem;
  height: 4.3rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  direction: ltr;
  clip: rect(0em 3.19rem 3rem 0em);
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}
.block#GameSpace .crashGameWrap #crashGameTimer #crashGameTimerCount {
  font-size: 0.5rem;
  color: #fff;
  font-weight: bold;
}
.block#GameSpace .crashGameWrap #crashGameTimer.active {
  visibility: visible;
  opacity: 1;
}
.block#GameSpace .crashGameWrap #crashGameTimer .crashGameTimerCircle {
  position: absolute;
  top: 2.05rem;
  right: 50%;
  height: 0.3rem;
  -webkit-transform: rotate(-107deg);
  transform: rotate(-107deg);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation: circle-bounce 0.9s 0.5s linear infinite;
  animation: circle-bounce 0.9s 0.5s linear infinite;
}
.block#GameSpace .crashGameWrap #crashGameTimer .crashGameTimerCircle::before {
  content: '';
  position: absolute;
  top: -1rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: #fff;
}
.block#GameSpace .crashGameWrap #crashGameTimer .crashGameTimerCounter {
  margin: 0;
  font-family: inherit;
  font-size: 5.1875em;
  font-weight: 700;
  color: #fff;
}
.block#GameSpace .crashGameWrap #crashGameTimer #crashGameTimerSegments {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transition: transform 0.7s ease-in-out;
}
#reloadPage {
  margin-top: 0.3rem;
}

.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments.active
  .crashGameTimerSegment:nth-child(n + 6) {
  display: none;
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments.active
  .crashGameTimerSegment:nth-child(1)::before {
  background-color: #ffe629;
}
.block#GameSpace .crashGameWrap #crashGameTimer #crashGameTimerSegments .crashGameTimerSegment {
  position: absolute;
  top: 0;
  right: 50%;
  height: 2.15rem;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment::before {
  content: '';
  position: absolute;
  top: 3.7rem;
  left: 0;
  width: 0.1rem;
  height: 0.3rem;
  border-radius: 0.25rem;
  background-color: #fff;
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(1) {
  transform: rotate(180deg);
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(2) {
  transform: rotate(144deg);
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(3) {
  transform: rotate(108deg);
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(4) {
  transform: rotate(72deg);
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(5) {
  transform: rotate(36deg);
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(6) {
  transform: rotate(-36deg);
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(7) {
  transform: rotate(-72deg);
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(8) {
  transform: rotate(-108deg);
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(9) {
  transform: rotate(-144deg);
}
.block#GameSpace
  .crashGameWrap
  #crashGameTimer
  #crashGameTimerSegments
  .crashGameTimerSegment:nth-child(10) {
  transform: rotate(0deg);
}
.block#GameSpace .crashGameWrap #airplane {
  position: absolute;
  bottom: 0.4rem;
  width: 1.4rem;
  height: 1rem;
  z-index: 3;
  background: url(img/aitplane/airplane.png) 0 0/4800% 100% no-repeat;
  -webkit-animation: steps-sprite steps(47, start) 3s infinite;
  animation: steps-sprite steps(47, start) 3s infinite;
  pointer-events: none;
  display: none;
}
.block#GameSpace .crashGameWrap #airplane.center {
  display: flex;
  bottom: calc(50% - 0.8rem) !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.block#GameSpace .crashGameWrap #airplane.crash {
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(img/aitplane/aitplane-crash.png);
  background-size: 2500% 100%;
  -webkit-animation: steps-crash-sprite steps(24, start) 2s 1 forwards;
  animation: steps-crash-sprite steps(24, start) 2s 1 forwards;
}
.block#GameSpace #GameSpaceInfo {
  display: flex;
  position: relative;
  z-index: 7;
}
.block#GameSpace #GameSpaceInfo .GameSpaceInfoItems {
  display: flex;
  font-size: 0.2rem;
  padding: 0.15rem;
}
.block#GameSpace #GameSpaceInfo .GameSpaceInfoItems .btn {
  min-width: 1.8rem;
}
.block#GameSpace #crashGameBg {
  width: 11.15rem;
  height: 3.7rem;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50.9%;
  z-index: 1;
}
.block#GameSpace #crashGameBg.running .crashGameBgRunning {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.block#GameSpace #crashGameBg .crashGameMountain {
  position: absolute;
  left: 50%;
  width: 11.15rem;
  height: 0.5rem;
  bottom: 0.56rem;
  background: url(img/bg/mountains/mountain-1.svg) repeat left center;
  -webkit-transform: translateX(-50%);
  background-size: 11.15rem 0.5rem;
  transform: translateX(-50%);
  transition: background-position 0.3s ease-in-out;
  -webkit-animation: mountain-move 8s paused linear infinite;
  animation: mountain-move 8s paused linear infinite;
  pointer-events: none;
}
.block#GameSpace #crashGameBg .crashGameMountain-2 {
  background-image: url(img/bg/mountains/mountain-2.svg);
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  height: 1rem;
  background-size: 11.15rem 1rem;
}
.block#GameSpace #crashGameBg .crashGameMountain-3 {
  background-image: url(img/bg/mountains/mountain-3.svg);
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
  height: 1.4rem;
  background-size: 11.15rem 1.4rem;
}
.block#GameSpace #crashGameBg .crashGameMountain-4 {
  background-image: url(img/bg/mountains/mountain-4.svg);
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  height: 1.6rem;
  background-size: 11.15rem 1.6rem;
}
.block#GameSpace #crashGameBg .crashGameMountain-5 {
  background-image: url(img/bg/mountains/mountain-5.svg);
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  height: 2rem;
  background-size: 11.15rem 2rem;
}
.block#GameHistory,
.block#GameBet {
  height: calc(100% - 5.8rem);
}
.block#GameHistory {
  margin-right: 0.2rem;
  flex-grow: 1;
  background-color: #181c3a;
}
.block#GameHistory #GameHistoryMiddle {
  overflow: auto;
  height: calc(100% - 0.4rem);
  display: flex;
  flex-direction: column;
}
.block#GameHistory #historyEmpty {
  font-size: 0.2rem;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}
.block#GameHistory #historyEmpty.active {
  display: flex;
}
.block#GameBet {
  width: 5.8rem;
  background-color: #181c3a;
}
.block#GameBet .GameBetPanel {
  display: flex;
  flex-direction: column;
}
.block#GameBet .GameBetPanel #GameBetPanelFastBet {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 0.15rem;
}
.block#GameBet .GameBetPanel #GameBetPanelFastBet .FastBetItem {
  cursor: pointer;
  color: #7290b7;
  display: flex;
  height: 0.45rem;
  justify-content: center;
  align-items: center;
  padding: 0.15rem;
  background: dimgrey;
  transition: 0.3s;
  font-size: 0.2rem;
  border-radius: 0.2rem;
  background: #111328;
}
.block#GameBet .GameBetPanel #GameBetPanelFastBet .FastBetItem:hover {
  color: #171717;
  background: #ffe629;
}
.block#GameBet .GameBetPanel .GameBetButton .btn-wrapper,
.block#GameBet .GameBetPanel .GameBetButton .btn {
  width: 100%;
}
.btn-wrapper {
  padding: 0.15rem;
}
.btn-wrapper.paddingOff {
  padding: 0 !important;
}
.btn-wrapper.bottomOff {
  padding-bottom: 0;
}
.btn-wrapper.topOff {
  padding-top: 0;
}
.btn-wrapper.leftOff {
  padding-left: 0;
}
.btn-wrapper.rightOff {
  padding-right: 0;
}
.btn {
  font-size: 0.17rem;
  padding: 0 0.15rem;
  height: 0.5rem;
  width: fit-content;
  min-width: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 0.2rem;
}
.btn.primary {
  border: 0.02rem solid #ffe629;
  background: #ffe629;
  color: #171717;
}
.btn.primary:active {
  background: #ff9e21;
  border-color: #ff9e21;
}
.btn.primary:hover {
  color: #171717;
  background: #ff9e21;
  border-color: #ff9e21;
}
.btn.primary:disabled {
  opacity: 0.3;
}
.btn.primary:disabled:hover,
.btn.primary:disabled:active,
.btn.primary:disabled {
  color: #171717;
  background: #ffe629;
  border-color: #ffe629;
  cursor: default;
}
.btn.second {
  border: 0.02rem solid #ffe629;
  background: transparent;
  color: #ffe629;
}
.btn.second:active {
  border-color: #ffe629;
  background: #ffe629;
  color: #171717;
}
.btn.second:hover {
  border-color: #ffe629;
  background: #ffe629;
  color: #171717;
}
.btn.second:disabled {
  opacity: 0.3;
}
.btn.second:disabled:hover,
.btn.second:disabled:active,
.btn.second:disabled {
  color: #ffe629;
  background: transparent;
  border-color: #ffe629;
  cursor: default;
}
.panel-items {
  padding-bottom: 0.15rem;
}
.panel-items.grid-item.col-2 {
  display: grid;
  gap: 0.15rem;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 0.3rem), 1fr));
}
.panel-items.paddingOff {
  padding-bottom: 0;
}
.input-wrapper-label {
  display: flex;
  flex-direction: column;
  font-size: 0.14rem;
  position: relative;
}
.input-wrapper-label .input-error {
  position: absolute;
  color: #fc0a55;
  left: 0;
  top: -42%;
  background: #272942;
  padding: 0.15rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  z-index: 100;
}
.input-wrapper-label .input-error:before {
  content: '';
  position: absolute;
  right: 0.2rem;
  bottom: -0.2rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #272942 transparent transparent transparent;
}
.input-wrapper-label .input-label {
  color: #526783;
  margin-bottom: 0.05rem;
  margin-top: 0.1rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.input {
  font-size: 0.18rem;
  padding: 0 0.15rem;
  height: 0.5rem;
  transition: 0.3s;
  background: transparent;
  color: #7290b7;
  border: 0.02rem solid #506c91;
  border-radius: 0.2rem;
  outline: none;
}
.input:focus {
  border-color: #ffe629;
}
.ta-c {
  text-align: center;
}
.ttu {
  text-transform: uppercase;
}
.modal {
  z-index: 9999;
  padding: 0.3rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal .modal-content {
  display: flex;
  flex-direction: column;
  background: #272942;
  position: relative;
  font-size: 0.16rem;
  min-width: 5rem;
  min-height: 2rem;
  max-height: 100%;
  max-width: 8rem;
  padding: 0.3rem;
  overflow: auto;
  border-radius: 0.2rem;
}
.modal .modal-content.modal-center-all {
  justify-content: center;
  align-items: center;
}
.modal .modal-content.modal-center-all .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3rem;
  width: 100%;
}
.modal .modal-content .modal-header.modal-title-off {
  position: absolute;
  right: 0.15rem;
  top: 0.1rem;
  padding-bottom: 0;
}
.modal .modal-content .modal-header.modal-title-off .modal-title {
  display: none;
}
.modal .modal-content .modal-header .modal-close {
  font-size: 0.2rem;
  transition: 0.3s;
  cursor: pointer;
  margin-left: auto;
}
.modal .modal-content .modal-header .modal-close:hover {
  color: #ffe629;
}
.modal .modal-content .modal-header .modal-title {
  font-size: 0.2rem;
  font-weight: bold;
}
.tabs {
  height: 100%;
  position: relative;
  overflow: auto;
}
.tabs .tab {
  overflow: hidden;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 5;
}
.tabs .tab .tab-button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 0.15rem;
  transition: 0.3s;
  font-size: 0.16rem;
  display: flex;
  width: 100%;
  height: 0.48rem;
  align-items: center;
  color: inherit;
  background-color: #111328;
  text-transform: uppercase;
}
.tabs .tab .tab-button.active {
  background-color: #181c3a;
}
.tabs .tab .tab-button:hover {
  background-color: #181a2a;
}
.tabs .tab-content {
  display: none;
  padding: 0.15rem;
  border-top: none;
  font-size: 0.2rem;
}
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 0.1rem;
  /* ширина для вертикального скролла */
  height: 0.1rem;
  /* высота для горизонтального скролла */
  background-color: #181a2a;
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #506c91;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffe629;
}
/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}
::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}
::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
}
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}
@-webkit-keyframes mountain-move {
  to {
    background-position-x: -11.15rem;
  }
}
@keyframes mountain-move {
  to {
    background-position-x: -11.15rem;
  }
}
@-webkit-keyframes shine-rotate {
  to {
    -webkit-transform: translate(-29%, 37%) rotate(360deg);
    transform: translate(-29%, 37%) rotate(360deg);
  }
}
@keyframes shine-rotate {
  to {
    -webkit-transform: translate(-29%, 37%) rotate(360deg);
    transform: translate(-29%, 37%) rotate(360deg);
  }
}
@-webkit-keyframes steps-sprite {
  to {
    background-position-x: 100%;
  }
}
@keyframes steps-sprite {
  to {
    background-position-x: 100%;
  }
}
@-webkit-keyframes steps-crash-sprite {
  to {
    background-position-x: 100%;
  }
}
@keyframes steps-crash-sprite {
  to {
    background-position-x: 100%;
  }
}
@-webkit-keyframes circle-bounce {
  70% {
    -webkit-transform: rotate(-100deg);
    transform: rotate(-100deg);
  }
  80% {
    -webkit-transform: rotate(-111deg);
    transform: rotate(-111deg);
  }
  90% {
    -webkit-transform: rotate(-102deg);
    transform: rotate(-102deg);
  }
  0%,
  40%,
  100% {
    -webkit-transform: rotate(-107deg);
    transform: rotate(-107deg);
  }
}
@keyframes circle-bounce {
  70% {
    -webkit-transform: rotate(-100deg);
    transform: rotate(-100deg);
  }
  80% {
    -webkit-transform: rotate(-111deg);
    transform: rotate(-111deg);
  }
  90% {
    -webkit-transform: rotate(-102deg);
    transform: rotate(-102deg);
  }
  0%,
  40%,
  100% {
    -webkit-transform: rotate(-107deg);
    transform: rotate(-107deg);
  }
}
