/* ======= _colors.scss ======= */
$white: #fff;
$yellow2: #FFC000;
$yellow: #ffd700;
$gray: #5c5c5c;
$bg: #1E1E1E;
$headerBG: #262626;
$footerBG: #262626;
$pageBG: #1E1E1E;
$mainTextColor: #FFF;
$mainTextColorSecond: #B2B2B2;
$accentDark: #FFC000;
$accent: #FFC000;
$accentLight: #FFC000;