:root {
  // main
  --dataColorLight: #fff;
  --dataColorDark: #222d4a;
  --dataColorLightMain: #ffd2b9;
  --dataColorLightSecond: #ffeeee;
  --dataColorDarkMain: #ff7957;
  --dataColorDarkSecond: #c58269;
  --dataColorAccent: #ff3a20;
  --dataColorGray: #e0e5f1ff;
  --dataColorGradient1: #ffb677;
  --datacolorgradient2: #ff7171;
  // else
  --bodyBg: var(--dataColorLight);
  --gray: var(--dataColorGray);
  // text
  --textColor: var(--dataColorDark);
  --textColorHover: var(--dataColorAccent);
  --textTransition: 0.2s;
  // button primary
  --btnPrimaryBg: var(--dataColorGradient1);
  --btnPrimaryBgG: var(--datacolorgradient2);
  --btnPrimaryBgHover: var(--dataColorGradient1);
  --btnPrimaryBgGHover: var(--datacolorgradient2);
  --btnPrimaryColor: var(--dataColorLight);
  --btnPrimaryColorHover: var(--dataColorLight);
  // button secondary
  --btnSecondaryBg: var(--dataColorLight);
  --btnSecondaryBgHover: var(--dataColorDarkMain);
  --btnSecondaryBorder: var(--dataColorAccent);
  --btnSecondaryBorderHover: var(--dataColorAccent);
  --btnSecondaryColor: var(--dataColorDark);
  --btnSecondaryColorHover: var(--dataColorLight);
}

/* ========= FONT ========= */
:root {
  --fontMain: 'Montserrat';
  --fontSizeText: 18px;
  --fontSizeVeryBig: 72px;
  --fontSizeH1: 36px;
  --fontSizeH2: 42px;
  --fontSizeH3: 36px;
  --fontSizeH4: 28px;
  --fontSizeH5: 24px;
}
/* ========= END FONT ========= */

/* ========= VAR ========= */
:root {
  --headerWidth: 1550px;
  --contentWidth: 1549px;
  --footerWidth: 1550px;
  --contentPadding: 0 16px;
  --headerPadding: 0 16px;
  --footerPadding: 100px 16px;
}

:root {
  --headerWidthMobile: 100%;
  --contentWidthMobile: 100%;
  --footerWidthMobile: 100%;
  --contentPaddingMobile: 0 16px;
  --headerPaddingMobile: 0 16px;
  --footerPaddingMobile: 60px 16px;
}

/* ========= END VAR ========= */
