@use '../../assets/css/common/vars.module';

/* ========= Header ========= */
#headerBox {
  width: 100%;
}

.mainNavMenu {
  &,
  .navMenu {
    height: 140px;
    position: relative;
    left: 0;
    right: 0;
    z-index: 100;
    background: transparent;
  }

  .navMenu {
    max-width: var(--headerWidth);
    padding: var(--headerPadding);
    margin: 0 auto;
    align-items: center;
    display: flex;
    gap: 60px;

    .navItem {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      gap: 30px;

      & > li {
        min-width: 50px;
        position: relative;
        padding-left: 0px;

        & > a {
          display: flex;
          align-items: center;
          padding: 10px;
          font-size: 20px;
          color: var(--textColor);
          font-weight: normal;
          transition: var(--btnTransition);

          &:hover {
            text-decoration: unset;
            color: var(--textColorHover);
          }
        }

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }

      &.right {
        display: flex;
        justify-content: flex-end;
      }

      &.left {
        display: flex;
        width: fit-content;
        justify-content: flex-start;
      }

      &.navLang {
        width: fit-content;

        .langToggle {
          width: max-content;
          display: flex;
          gap: 16px;

          .langToggleItem {
            background: transparent;
            border: none;
            font-size: 18px;
            color: var(--textColor);
            transition: var(--btnTransition);

            &:hover {
              color: var(--dataColorDarkSecond);
            }

            &.active {
              color: var(--dataColorAccent);
              background: transparent;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1550px) {
  .navMenu {
    max-width: var(--headerWidthMobile);
    padding: var(--headerPaddingMobile);
  }
}

@media (max-width: 1100px) {
  .mainNavMenu,
  .mainNavMenu .navMenu {
    height: auto;
  }

  .mainNavMenu {
    .navMenu {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      .navItem {
        &,
        &.right {
          margin: 0;
          gap: 16px;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }

        & > li > a {
          padding: 10px 0;
        }

        &.navLang .langToggle .langToggleItem {
          padding: 0;
        }
      }
    }
  }
}
