@import 'src/ui/css/common/vars.module';

.content {
  inputbtn: string;
  inputbtn: string;
}

button.inputBtn {
  background: fuchsia;
  border: 1px solid red;
  &.active {
    background: blue;
  }
}
