.mega-box.m-center-all > .m-row > .m-item-box > .m-item {
    justify-content: center;
    align-items: center;
}

.mega-box > .m-row {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background: rgba(114, 186, 94, 0.05);
    /* grid-template-areas: "sidebar sidebar sidebar sidebar"; */
    place-items: center;
}

.mega-box .m-item-box:last-child:nth-child(3n - 2) {
    grid-column: span 3;
}  

.mega-box > .m-row > .m-item-box.m-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.mega-box.m-col-4 > .m-row {
    grid-template-columns: repeat(4, 1fr);
}

.sidebar {
    grid-area: sidebar;
}

.mega-box.m-col-3 > .m-row {
    grid-template-columns: repeat(3, 1fr);
}

.mega-box.m-col-2 > .m-row {
    grid-template-columns: repeat(2, 1fr);
}

.mega-box.m-col-1 > .m-row {
    grid-template-columns: repeat(1, 1fr);
}

.mega-box > .m-row > .m-item-box {
    display: grid;
    /* justify-content: center; */
    /* padding-bottom: 20px; */
}

.mega-box #m-item-box-1 {
    grid-area: header;
}

.mega-box #m-item-box-2 {
    grid-area: sidebar;
}


.mega-box .m-item {
    border: solid #ccc;
    background: #f2f2f2;
    height: 100px;
}

.mega-box > .m-row > .m-item-box > .m-item img {
    object-fit: cover;
}

.mega-box > .m-row > .m-item-box > .m-item {
    display: grid;
}

.mega-box > .m-row > .m-item-box > .m-item.m-all-centered {
    justify-content: center;
    align-items: center;
}

.mega-box > .m-row > .m-item-box > .m-item.m-ail-centered {
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .mega-box.m-col-sm-3 > .m-row {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ======================================================================== */

.b-box {
    background: #cccccc;
}

/* center all */
.b-box.b-center-all > .b-row > .b-item-box, .b-box.b-center-all > .b-row  {
    justify-content: center;
    align-items: center;
}

.b-box > .b-row {
    display: flex;
    flex-wrap: wrap;
}

.b-box > .b-row > .b-item-box {
    display: flex;
}

.b-box.b-column > .b-row {
    display: flex;
    flex-direction: column;
}

.b-box.b-column-item > .b-row > .b-item-box {
    flex-direction: column;
}

.b-box > .b-row > .b-item-box.b-column {
    display: flex;
    flex-direction: column;
}

.b-box > .b-row > .b-item-box > .b-item {
    display: flex;
    overflow: hidden;
}

.b-box > .b-row > .b-item-box > .b-item.b-center-all {
    align-items: center;
    justify-content: center;
}

.b-box > .b-row > .b-item-box.b-col-4 > .b-item  {
    width: 25%;
}

.b-box > .b-row > .b-item-box.b-col-2 > .b-item  {
    width: 50%;
}

.b-box.b-col-4 > .b-row > .b-item-box {
   width: 25%;
}

.b-box.b-col-3 > .b-row > .b-item-box {
    width: 33.3%;
}

.b-box.b-col-2 > .b-row > .b-item-box {
    width: 50%;
}

.b-box.b-col-1 > .b-row > .b-item-box {
    width: 100%;
}

.b-baner .b-item {
    border: solid 1px rgb(207, 96, 96);
    background: #f2f2f2;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.b-baner .b-item-box {
    padding: 10px;
}